/* Hide the sidebar titlebar & sidebar explorer buttons */
/* .monaco-workbench .sidebar.part > .title > .title-label, */
.sidebar .actions-container[aria-label^="Explorer:"] {
  display: none;
}

/* Hide the tab bar buttons */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions
  .action-label {
  display: none !important;
}

/* Don't hide the tab bar settings JSON button */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions
  .action-label[title="Open Settings (JSON)"],
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions
  .action-label[title="Open Settings (UI)"] {
  display: flex !important;
}

/* Rounded scrollbars */
.monaco-workbench .monaco-scrollable-element > .scrollbar > .slider {
  border-radius: 10px;
}

/* Sidebar */
.show-file-icons .folder-icon::before,
.show-file-icons .monaco-tree-row.expanded .folder-icon::before,
.show-file-icons
  .monaco-tl-twistie.collapsible:not(.collapsed)
  + .monaco-tl-contents
  .folder-icon::before {
  color: #99abb8;
}

/* Quick open overlay */

.quick-input-widget {
  top: 50px !important;
  border-radius: 5px;
  padding-bottom: 0px;
}

@keyframes overlay-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.quick-input-widget:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 5px;
  background-color: #173143; /*TODO*/
}

.quick-input-widget:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #050b0f;
  opacity: 0.5;
  backface-visibility: hidden;
  animation: overlay-fade 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.quick-input-widget .quick-input-list {
  /* min-height: 55px; */
}

.quick-input-widget .quick-input-header {
  padding: 11px 11px 0;
}

.monaco-inputbox {
  border-radius: 3px;
}

.monaco-workbench .synthetic-focus {
  outline-color: transparent !important;
}

.monaco-inputbox.synthetic-focus {
  border-color: #4daaeb !important;
  outline-color: transparent;
}

.monaco-inputbox > .ibwrapper > .input {
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px !important;
  font-family: "Hack", monospace;
  border-radius: 3px;
}

.quick-input-widget .monaco-list {
  padding: 0 11px 11px 11px;
  box-sizing: border-box;
}

.quick-input-widget .monaco-list > .monaco-scrollable-element {
  border: 1px solid #0f202c; /* TODO */
}

.quick-input-widget .monaco-list .monaco-list-rows > .monaco-list-row {
  /* height: 45px !important; */
  /* line-height: 45px; */
  /* border-bottom: 1px solid #0f202c; TODO */
  background: #1a364b; /* TODO */
}
.quick-input-widget .monaco-list .monaco-list-rows > .monaco-list-row.focused {
  background: #003b5b;
}

.monaco-icon-label
  > .monaco-icon-label-description-container
  > .label-description {
  margin-left: none;
}

.monaco-tree .monaco-tree-row > .content.actions > .primary-action-bar {
  line-height: 53px;
}

/* Find in file widget */
.editor-widget.find-widget {
  width: 600px !important;
}

.monaco-findInput .monaco-inputbox > .wrapper > .input,
.search-widget .monaco-inputbox > .wrapper > .input {
  line-height: inherit;
}

/* Search results */
.monaco-list-row .monaco-tl-contents.linematch {
  font-family: "Hack", monospace;
}
