/* Hide the explorer titlebar & buttons */
.monaco-workbench .part > .title > .title-label,
.monaco-workbench .part > .composite.title > .title-actions {
  display: none;
}

/* Hide the tab bar buttons */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions
  .action-label {
  display: none;
}

/* Don't hide the tab bar settings JSON button */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions
  .action-label[title="Open Settings (JSON)"] {
  display: block;
}

/* Hide the little custom CSS indicator */
.__CUSTOM_CSS_JS_INDICATOR_CLS {
  display: none;
}

/* Rounded scrollbars */
.monaco-workbench .monaco-scrollable-element > .scrollbar > .slider {
  border-radius: 10px;
}

/* Tabs */
.tab.active {
  border-left: 2px solid #4daaeb;
}

/* Sidebar */
.show-file-icons .folder-icon::before,
.show-file-icons .monaco-tree-row.expanded .folder-icon::before,
.show-file-icons
  .monaco-tl-twistie.collapsible:not(.collapsed)
  + .monaco-tl-contents
  .folder-icon::before {
  color: #99abb8;
}

/* Quick open overlay */

.monaco-quick-open-widget {
  top: 50px !important;
  border-radius: 5px;
  padding-bottom: 0px;
}

@keyframes overlay-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.monaco-quick-open-widget:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #173143;
  border-radius: 6px;
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.4);
}

.monaco-quick-open-widget:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #050b0f;
  opacity: 0.5;
  backface-visibility: hidden;
  animation: overlay-fade 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.monaco-quick-open-widget .quick-open-tree {
  min-height: 55px;
}

.monaco-quick-open-widget .quick-open-input {
  padding: 5px;
  box-sizing: border-box;
}

.monaco-inputbox {
  height: auto !important;
  border-radius: 3px;
}

.monaco-inputbox.synthetic-focus {
  border-color: #4daaeb !important;
  outline-color: transparent;
}

.monaco-inputbox > .wrapper > .input {
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px !important;
  font-family: "SFMono Nerd Font", monospace;
  border-radius: 3px;
  line-height: 2em;
}

.search-widget .monaco-inputbox > .wrapper > .input {
  line-height: inherit;
}

.monaco-tree {
  padding: 0 11px 11px 11px;
  box-sizing: border-box;
}

.monaco-tree > .monaco-scrollable-element {
  border: 1px solid #0f202c;
}

.monaco-tree .monaco-tree-rows > .monaco-tree-row {
  height: 45px !important;
  line-height: 45px;
  border-bottom: 1px solid #0f202c;
  background: #1a364b;
}

.monaco-icon-label
  > .monaco-icon-label-description-container
  > .label-description {
  margin-left: none;
}
.monaco-tree .monaco-tree-row > .content.actions > .primary-action-bar {
  line-height: 53px;
}
