"*":
  "base16-syntax":
    scheme: "Ashes"
  core:
    disabledPackages: [
      "metrics"
      "linter-jshint"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/aappleton/projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "spacegray-dark-neue-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Inconsolata-dz"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "dea79831-edd0-3c6d-d3dc-b33d60d5bbdd"
  "file-icons": {}
  "go-imports": {}
  gofmt: {}
  linter:
    lintOnFly: false
    showErrorPanel: false
  "linter-jshint": {}
  metrics:
    userId: "56c640f94f89936f149fd63228aea79141241bb1"
  "one-dark-ui":
    layoutMode: "Compact"
  "release-notes":
    viewedVersion: "0.85.0"
  "standard-formatter": {}
  "tree-view": {}
  "unity-ui": {}
  "vim-mode-plus":
    incrementalSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
"autocomplete-plus":
  suppressActivationForEditorClasses: [
    "vim-mode-plus.normal-mode"
    "vim-mode-plus.visual-mode"
    "vim-mode-plus.operator-pending-mode"
    "vim-mode-plus.insert-mode.replace"
  ]
