"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-package-deps":
    ignored: []
  "atom-test-runner":
    rspecAllCommand: "bundle exec rspec --color"
    rspecFileCommand: "bundle exec rspec {relative_path} -r ./spec/spec_helper.rb --color"
    rspecSingleCommand: "bundle exec rspec {relative_path}:{line_number} --color"
    specFramework: "rspec"
  "base16-syntax":
    scheme: "Ashes"
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.shell": [
        ".envrc"
      ]
    disabledPackages: [
      "metrics"
      "autocomplete-go"
      "go-config"
      "go-get"
      "go-imports"
      "gofmt"
      "gometalinter-linter"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/aappleton/projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Inconsolata-dz"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "dea79831-edd0-3c6d-d3dc-b33d60d5bbdd"
  "file-icons": {}
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "go-imports": {}
  "go-plus":
    panel:
      displayMode: "closed"
      focusOnFailure: false
    test:
      runTestsOnSave: false
  gofmt: {}
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  linter:
    lintOnChange: false
  "linter-js-standard": {}
  "linter-jshint": {}
  "linter-rubocop": {}
  "linter-tslint":
    fixOnSave: true
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    panelHeight: 69
    showStatusBar: false
    useBusySignal: false
  "markdown-preview":
    useGitHubStyle: true
  "markdown-table-formatter":
    formatOnSave: false
  metrics:
    userId: "56c640f94f89936f149fd63228aea79141241bb1"
  "no-title-bar": {}
  "one-dark-ui": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#282c33"
        blue: "#61afef"
        cyan: "#56b6c2"
        green: "#98c379"
        magenta: "#c678dd"
        red: "#e06c75"
        white: "#abb2c0"
        yellow: "#e5c07b"
      zBright:
        brightBlue: "#64b5f4"
        brightCyan: "#5dc7d4"
        brightGreen: "#a5d383"
        brightMagenta: "#ca7be3"
        brightRed: "#e66e78"
        brightWhite: "#acb4c6"
        brightYellow: "#f6ce85"
    style:
      theme: "one-dark"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
    prettierOptions:
      arrowParens: "always"
      singleQuote: true
    useEslint: true
  "release-notes":
    viewedVersion: "0.85.0"
  "ruby-test":
    rspecAllCommand: "bundle exec rspec"
    rspecFileCommand: "bundle exec rspec {relative_path}"
    rspecSingleCommand: "bundle exec rspec {relative_path}:{line_number}"
    specFramework: "rspec"
  "standard-formatter": {}
  "tidy-markdown": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui": {}
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "{"
      "["
    ]
    incrementalSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
"autocomplete-plus":
  suppressActivationForEditorClasses: [
    "vim-mode-plus.normal-mode"
    "vim-mode-plus.visual-mode"
    "vim-mode-plus.operator-pending-mode"
    "vim-mode-plus.insert-mode.replace"
  ]
