# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.editor':
  'cmd-l': 'go-to-line:toggle'

'body':
  'cmd-alt-down':  'pane:split-down'
  'cmd-alt-up':    'pane:split-up'
  'cmd-alt-right': 'pane:split-right'
  'cmd-alt-left':  'pane:split-left'
  'cmd-ctrl-/':    'editor:move-line-up'
  'ctrl-h':        'window:focus-pane-on-left'
  'ctrl-j':        'window:focus-pane-below'
  'ctrl-k':        'window:focus-pane-above'
  'ctrl-l':        'window:focus-pane-on-right'

'atom-text-editor.vim-mode-plus.normal-mode':
  'y s':   'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y m s': 'vim-mode-plus:map-surround'
  'd s':   'vim-mode-plus:delete-surround-any-pair'
  'c s':   'vim-mode-plus:change-surround-any-pair'
  'enter': 'editor:newline-below'

'atom-text-editor.vim-mode-plus.insert-mode':
   'j k': 'vim-mode-plus:activate-normal-mode'
